<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cm.DisSale.mapper.AgencyMapper">
	<select id="listAuthAgency"
		resultType="com.cm.DisSale.pojo.Agency">
		select * from agency where auth_code not in ('未授权')
	</select>
	<select id="listNoauthAgency"
		resultType="com.cm.DisSale.pojo.Agency">
		select * from agency where auth_code='未授权'
	</select>
	<select id="listAllAgency"
		resultType="com.cm.DisSale.pojo.Agency">
		select * from agency 
	</select>
	<insert id="updateAuthCode">
	 	update agency SET auth_code=#{code} where agency_id=#{id};
	</insert>
	<insert id="insertStairAgency" parameterType="com.cm.DisSale.pojo.Agency"
		useGeneratedKeys="true" keyProperty="agencyId" keyColumn="agency_id">
		INSERT
		INTO
		agency(agency_name,agency_password,phone,agency_level,regist_time,agency_address)
		VALUES
		(#{agencyName},#{agencyPassword},#{phone},#{agencyLevel},#{registTime},#{agencyAddress})
	</insert>
</mapper>