<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cm.DisSale.mapper.OrderMapper">
<resultMap type="com.cm.DisSale.pojo.Order" id="OrderMap">
		<id column="order_id" property="orderId" />
		<result column="totalprice" property="totalPrice" />
		<result column="create_time" property="createTime" />
		<association property="agency"
			column="agency_id"
			javaType="com.cm.DisSale.pojo.Agency">
			<id column="agency_id" property="agencyId" />
			<result column="agency_name" property="agencyName" />
			<result column="phone" property="phone" />
			<result column="agency_level" property="agencyLevel" />	
			<result column="agency_address" property="agencyAddress" />
		</association>
		<collection property="orderItemList" column="order_id"
			ofType="com.cm.DisSale.pojo.OrderItem">
			<result column="order_item_id" property="orderItemId" />
			<result column="product_name" property="productName" />
			<result column="order_item_num" property="orderItemNum" />
			<result column="order_item_price" property="orderItemPrice" />
		</collection>
</resultMap>
	<select id="notDeliveredOrder" resultMap="OrderMap">
		select * from torder where status=0 order by create_time desc;
	</select>
	<select id="getOrderDetail" resultType="com.cm.DisSale.pojo.OrderItem">
		select product_name,order_item_num,order_item_price
		from torder_item 
		where order_id=#{orderId}
	</select>
	<select id="getOrderById" resultMap="OrderMap">
		select o.*,a.agency_name,a.phone,a.agency_address from torder o left join agency a on o.agency_id=a.agency_id where order_id=#{orderId}
	</select>
	<update id="updateOrderStatus">
		update torder set status=1 where order_id=#{orderId}
	</update>
</mapper>